@use "colors" as *;
@use "fonts" as *;
@use "utilities" as *;

@mixin openCloseButton {
  display: flex;
  padding-inline: 0;
  border-width: 0;
  width: 2.625rem;
  background-color: $clr-neutral-100;
  outline-offset: 4px;
  cursor: pointer;

  & > img {
    margin-block: auto;
    vertical-align: middle;
    width: 100%;
    object-fit: contain;
  }
}
